.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

.normal {
    background-color:  #a6a8;
}

.grass {
    background-color: #77c850;
}

.fire {
    background-color: #ee7f30;
}

.water {
    background-color: #678fee;
}

.electric {
    background-color: #f7cf2e;
}

.ice {
    background-color: #98d5d7;
}

.ground {
    background-color:  #dfbf69;
}

.flying {
    background-color:  #a98ff3;
}

.poison {
    background-color:  #a040a0;
}

.fighting {
    background-color: #bf3029;
}

.psychic {
    background-color: #f65687;
}

.dark  {
    background-color: #725847;
}

.rock  {
    background-color: #b8a137;
}

.bug {
    background-color: #a8b720;
}

.ghost {
    background-color: #6e5896;
}

.steel {
    background-color: #b9b7cf;
}

.dragon {
    background-color:  #6f38f6;
}

.fairy {
    background-color: #f9aec7;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1.5rem;
    border-radius: 1rem;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pokemon:hover {
    filter: brightness(1.1);
}



.pokemon .name {
    color: white;
    margin-bottom: 0.25rem;
    text-transform: capitalize;
}

.pokemon .number {
    font-size: .625rem;
    color: black;
    text-align: right;
    opacity: 0.5;
}

.pokemon .details {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .details .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .details .types .type {
    color: white;
    padding: 0.1rem 0.2rem;
    margin: .25rem 0;
    font-size: .625rem;
    border-radius: .5rem;
    text-align: center;
    filter: brightness(1.1);
}

.pokemon .details img {
    max-width: 100%;
    max-height: 70px;
    align-self: flex-end;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#loadMoreButton {
    background-color: #6c79db;
    border: none;
    border-radius: 1rem;
    color: white;
    padding: 0.7rem 0.5rem;
    font-size: .625rem;
    font-weight:bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

#loadMoreButton:hover {
    background-color: #3c4dcd;
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}


@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}